<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/4bd0e527-c207-4a7a-99c7-db58d6f3d1bb/resourceGroups/rg-puzzle/providers/Microsoft.ContainerRegistry/registries/crge04</ResourceId>
    <ResourceName>crge04</ResourceName>
    <ResourceGroup>rg-puzzle</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>crge04.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>2786fcf1-41cd-4993-9ce2-e17dbf39a40a</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>